
<suite name="Vasu">
  <test name="Smoke">
    <classes>
      <class name="com.vasu.testng.FirstTestNg"/>
      <class name="com.vasu.testng.AnnotationsTest"/>
      <class name="com.vasu.testng.MultipleTestCases"/>
      <class name="com.vasu.testng.AdminLogin"/>
      <class name="com.vasu.testng.ValidationTest"/>
      <class name="com.vasu.testng.AppLaunchTest"/>
    </classes>
  </test> 
</suite> 
